.table {
  height: 400px;
  max-width: 800px;
}

.table__body .table__row:first-child {
  background-color: rgb(210, 207, 241);
}

.table::-webkit-scrollbar {
  width: 5px;
}

.table::-webkit-scrollbar-track {
  background: #f3f2f5;
}

.table::-webkit-scrollbar-thumb {
  background: #7e7e8f;
}

.table::-webkit-scrollbar-thumb:hover {
  background: #4f4969;
}
